.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: var(--width-s);
  max-width: var(--mw-standard);
  padding: 40px;
  border: 1px solid var(--white);
  border-radius: var(--border-radius);
}

.colored {
  color: var(--pink);
}
