.basicInfoSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 330px;
}

.text {
  font-size: var(--fz-xs);
  line-height: 1.3;
}

.startButton {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-self: self-end;
  margin-right: 20px;
  width: 200px;
  color: var(--white);
}
