.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 28px;
  padding: 30px 8px;
}

.headerTitle {
  text-transform: uppercase;
  transition: transform 300ms ease;
}

.headerTitle:hover {
  transform: scale(1.05);
}

.headerLink {
  color: var(--white);
}
