.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  margin-bottom: 14px;
}

.text {
  color: var(--white);
}

.progressList {
  display: flex;
  gap: 5px;
}

.progressListItem {
  width: 16px;
  height: 4px;
  background-color: var(--white);
  border-radius: 2px;
}

.solved {
  background-color: var(--light-green);
}
