.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.questionCard, .feedbackBlock {
  width: var(--width-s);
  max-width: var(--mw-standard);
  padding: 40px;
}

.questionCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--white);
  border-radius: var(--border-radius);
}

.questionCardText {
  font-size: var(--fz-l);
  font-weight: 700;
}

.answerOption {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.answerButton {
  align-self: end;
}

.feedbackBlock {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 60px 1fr;
  row-gap: 20px;
}

.feedbackTitle, .feedbackText {
  font-size: var(--fz-xs);
}

.feedbackTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.nextButton {
  font-size: var(--fz-xxs);
  grid-column: 2/3;
  grid-row: 1/2;
  justify-self: end;
  align-self: center;
}

.nextButton::after {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../public/arrow_next.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}

.feedbackText {
  line-height: 1.6;
  grid-column: 1/3;
  grid-row: 2/3;
}

.feedbackIcon {
  width: 40px;
}

.questionCardInnerContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 26px;
}

.questionCardNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--white);
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
